table{
    border-collapse: collapse;
    text-align: center;
    margin-top: 70px;
    font-size: 16px;
}
td{
    vertical-align: top;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 5px;
}
main {

    padding: 100px 25px 80px 25px;
}

.td-text{
    padding-top: 80px;
    padding-bottom: 80px;

}
#date{
    padding-top: 50px;
}

.Line{
    display:inline-block;
    border-bottom:1px solid black;
    max-width: 35mm;
}
#signature{
    text-align: center;
}
#signature-img{
    margin-top: 80px;
    width: 250px;
    height: auto;
    border-bottom: 1px solid black;
}

#signature-text{
    margin-bottom: 10px;
    font-size: 14px;
    margin-top: 15px;
}